/.env_backup
/node_modules
/public/hot
/public/storage
/public/upload
/storage/*.key
/vendor
/docker-compose/data
/public/product_image
/public/printer_files
/public/customer_image
/.envs
/.env.version
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea

/docker

/docker-compose.yml
Dockerfile

/public/chatify_app



